/****** HOME ******/

/* Flexbox and height for first cover */

div.wp-block-cover:first-of-type {
    max-height: calc(100vh - 150px) !important;
    display: flex !important;
    flex-direction: column !important;
}


/* changing image opverlay for the first background image */

div.wp-block-cover:first-of-type>span {
    opacity: 1 !important;
    background-color: transparent !important;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.5) 100%) !important;
}


/* Addign a argin to the logo */

div.wp-block-cover:first-of-type div.wp-block-cover__inner-container figure img {
    margin-bottom: 50px;
}


/* Flexbox for content of first cover */

div.wp-block-cover:first-of-type>.wp-block-cover__inner-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* Setting height and flexbox of conent of all containers */

div.wp-block-cover>.wp-block-cover__inner-container {
    height: max-content !important;
    display: flex !important;
    justify-content: center;
}


/* Limiting the height of the text container to the height of the text  */

div.wp-block-cover>.wp-block-cover__inner-container>.wp-block-group {
    height: max-content !important;
}


/* Setting the height of all covers (except first one)  */

div.wp-block-cover {
    height: 100vh !important;
    width: 100vw !important;
}


/* Setting the height for all images/icons */

div.wp-block-cover__inner-container figure img {
    min-width: 250px !important;
    min-height: 250px !important;
}


/* Applying a padding to all icons, except the logo in th efirst cover */

div.wp-block-cover:not(:first-of-type) div.wp-block-cover__inner-container figure img {
    border: solid 2px var(--color-red) !important;
    padding: 50px;
}


/* Setting a red background to the last block on the page */

main>div.wp-block-group:last-of-type {
    background-color: var(--color-red);
    width: 100vw;
    height: 100vh;
}


/* limiting the width of all covers and aplying a gap between the icons and the text */

div.wp-block-cover:not(:first-of-type) div.wp-block-cover__inner-container {
    width: 1200px !important;
    display: flex !important;
    gap: 220px
}




main>div.wp-block-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Limiting the width an dsetting a flexbox to the group with a red BG */

main>div.wp-block-group>div.wp-block-group__inner-container {
    width: 1200px !important;
    display: flex !important;
    height: max-content;
}


/* styling the first button in the first cover incl. hover */

div.wp-block-cover:first-of-type>div.wp-block-cover__inner-container>div.wp-block-buttons>div.wp-block-button:first-child a {
    width: max-content;
    white-space: nowrap;
    color: var(--color-white) !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    padding: 14px 40px;
    border-radius: 1000px;
    transition: all 0.3s ease;
    background-color: var(--color-red);
    padding: 20px 65px;
    margin: 12px !important;
    margin-right: 50px !important;
}

div.wp-block-cover:first-of-type>div.wp-block-cover__inner-container>div.wp-block-buttons>div.wp-block-button:first-child a:hover {
    text-shadow: var(--text-shadow) !important;
    opacity: 1 !important;

}


/* styling all other buttons in the first cover incl. hover */

div.wp-block-cover:first-of-type>div.wp-block-cover__inner-container>div.wp-block-buttons>div.wp-block-button:not(:first-child) a {
    width: max-content;
    white-space: nowrap;
    color: var(--color-white) !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    border: 2px solid var(--color-white) !important;
    padding: 14px 40px;
    border-radius: 1000px;
    transition: all 0.3s ease;
    background-color: var(--color-background-gray);
    padding: 20px 65px;
    margin: 12px 0 !important;
}

div.wp-block-cover:first-of-type>div.wp-block-cover__inner-container>div.wp-block-buttons>div.wp-block-button:not(:first-child) a:hover {
    background-color: var(--color-gray) !important;
    opacity: 1;
}


/* Adding a mergin unter the slogan */

.slogan {
    margin-bottom: ;
}